/project.properties
bin/classes/com/wi14/team5/place_its/AddPlaceitActivity$1.class
bin/classes/com/wi14/team5/place_its/AddPlaceitActivity$2.class
bin/classes/com/wi14/team5/place_its/AddPlaceitActivity$3.class
bin/classes/com/wi14/team5/place_its/MainActivity$1.class
bin/classes/com/wi14/team5/place_its/MainActivity$2.class
bin/classes/com/wi14/team5/place_its/MainActivity$3.class
bin/classes/com/wi14/team5/place_its/R$integer.class
bin/classes/com/wi14/team5/place_its/R$styleable.class
